@import '_base';
.bg-footer-top{
  background: $white-blue;
  .container{
    position: relative;
    >div:first-child{
      height:350px;
      img{
        width:40px;height:40px;
      }
    }
    >div:last-child{
      @include my_absolute(-72.5px,0);
      z-index:2;
      .join-us{
        padding:40px 80px;
        width:1200px;
        height:145px;
        background: #fff;
        box-shadow: 0px 0px 30px #e2e2e2;
        .contact-btn{
          width:155px;
          height:50px;
          padding:0;
          background: $dark-blue;
          text-align:center;
          line-height: 50px;
        }
      }
    }
  }
}