@import '_base';
.travel-route{
  background:$white-blue;
  .card{
    background: #fff;
    border:0;
    margin:25px;
    box-shadow: 0 0 30px #e2e2e2;
    .card-body{
      padding:30px 20px 35px;
      a{
        color:$dark-black;
        &:hover{
          color:$dark-black;
          text-decoration: none;
        }
      }
    }
    .card-img-top{
      overflow: hidden;
      img{
        width:100%;
        transition: all 1.5s;
      }
    }
    &:hover img{
      transform:scale(1.1);
    }
  }
  +footer{
    #footer-top{
      .bg-footer-top{
        background: #fff;
        margin-top:-35px;
      }
    }
  }
}